@(Entries: java.util.List[Entry], entryForm: Form[Entry])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@main("投稿掲示板"){
  <h1>投稿掲示板</h1>
  <h2>@request.session.get("id")</h2>
  <button onclick="location.href='@routes.SessionController.logout()'">ログアウト</button>

  @form(routes.HomeController.save()){
    @CSRF.formField

    @inputText(entryForm("name"), Symbol("required")-> "required")

    @inputText(entryForm("title"), Symbol("required")-> "required")

    @inputText(entryForm("message"), Symbol("required")-> "required")

    <button type="submit">新規投稿</button>
  }

  <button onclick="location.href='@routes.HomeController.search()'">投稿検索</button>

  @request.flash.asScala().data.map { case (name, value) =>
    <div class="@name">@value</div>
  }

  @for(entry <- Entries) {
    <p>------------</p>
    <li>名前：@entry.getName()</li>
    <li>タイトル：@entry.getTitle()</li>
    <li>メッセージ：@entry.getMessage()</li>
    <li>投稿日時：@entry.getCreateDate()</li>
    <button onclick="location.href='@routes.HomeController.edit(entry.getId())'">編集へ</button>
  }
}