@(loginForm: Form[User])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@main("ログイン"){
    <h1>ログイン</h1>
    @form(routes.SessionController.authenticate()){

        @CSRF.formField
    
        @inputText(loginForm("email"), Symbol("required")-> "required")
    
        @inputText(loginForm("password"), Symbol("required")-> "required")
    
        <button type="submit">ログイン</button>
    }

    @request.flash.asScala().data.map { case (name, value) =>
        <div class="@name">@value</div>
      }

    <button onclick="location.href='@routes.UserController.newUser()'">新規登録</button>
}