@(userForm: Form[User])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@main("新規登録"){
    <h1>新規登録</h1>
    @form(routes.UserController.save()){

        @CSRF.formField

        @inputText(userForm("name"), Symbol("required")-> "required")
    
        @inputText(userForm("email"), Symbol("required")-> "required")
    
        @inputText(userForm("password"), Symbol("required")-> "required")
    
        <button type="submit">新規登録</button>
    }
    <button onclick="location.href='@routes.SessionController.login()'">ログイン画面へ戻る</button>
}