@import helper._
@import forms.EntryForm
@(Entries: java.util.List[Entry], entryForm: Form[EntryForm])(implicit request: Http.Request, messages: play.i18n.Messages)

@main("投稿掲示板"){
  <h1>投稿掲示板</h1>
  <h2>@request.session().getOptional("id").orElse("guest")</h2>
  <button onclick="location.href='@routes.SessionController.logout()'">ログアウト</button>
  <button onclick="location.href='@routes.UserController.editUser()'">ユーザー情報編集</button>

  @form(routes.HomeController.save()){
    @CSRF.formField

    @inputText(entryForm("name"), Symbol("required")-> "required")

    @inputText(entryForm("title"), Symbol("required")-> "required")

    @inputText(entryForm("message"), Symbol("required")-> "required")

    <button type="submit">新規投稿</button>
  }

  <button onclick="location.href='@routes.HomeController.search()'">投稿検索</button>

  @request.flash.asScala().data.map { case (name, value) =>
    <div class="@name">@value</div>
  }

  @for(entry <- Entries) {
    <p>------------</p>
    <li>ユーザー名：@entry.getUser().getName()</li>
    <li>名前：@entry.getName()</li>
    <li>タイトル：@entry.getTitle()</li>
    <li>メッセージ：@entry.getMessage()</li>
    <li>投稿日時：@entry.getCreateDate()</li>
    @if(entry.getUser().getUserId() == Long.parseLong(request.session().getOptional("id").orElse("guest"))) {
      <button onclick="location.href='@routes.HomeController.edit(entry.getId())'">編集へ</button>
    }
  }
}